Repository benjmarks22/blockchain-2pc: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel-buildifier, clang-format, clang-tidy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: bazel-buildifier
        name: bazel buildifier
        description: Runs `buildifier`, requires buildifier binary
        entry: buildifier -mode diff -lint warn
        files: '(^(.*/)?(BUILD\.bazel|BUILD)$|\.BUILD$)|(^WORKSPACE$)'
        language: system'
        language: system
    -   id: bazel-test
        name: bazel test
        description: Runs `bazel test`, requires bazel binary
        entry: bazel test //src/...
        always_run: true
        language: system
        pass_filenames: false
    -   id: bazel-build
        name: bazel build
        description: Runs `bazel build`, requires bazel binary
        entry: bazel build //src/...
        always_run: true
        language: system
        pass_filenames: false
    -   id: clang-format
        name: clang format
        description: Runs `clang-format`, requires clang-format package
        entry: clang-format -style=google --dry-run -Werror
        files: '\.h$|\.cc$|\.proto$'
        language: system
    -   id: clang-tidy
        name: clang-tidy
        description: Runs `clang-tidy`, requires clang-tidy package
        entry: bash -c "bazel build //src/... && bazel run @hedron_compile_commands//:refresh_all && mkdir -p clang-tidy-result && git diff -U0 HEAD^ | clang-tidy-diff -p1 -path compile_commands.json -export-fixes clang-tidy-result/fixes.yml; [ ! -s clang-tidy-result/fixes.yml ]; export RESULT=$?; rm -r clang-tidy-result/; exit $RESULT"
        files: '\.h$|\.cc$|\.proto$'
        language: system
        pass_filenames: false

Simplify logic for coordinator
  src/coordinator/coordinator_server.cc
  src/coordinator/coordinator_server.h
  src/coordinator/coordinator_server_main.cc
  src/coordinator/coordinator_server_test.cc
  src/utils/grpc_utils.cc
Due: clang-format, clang-tidy

Add logging and fix tests for cohort.
  src/cohort/BUILD
  src/cohort/cohort_server.cc
  src/cohort/cohort_server.h
  src/cohort/cohort_server_test.cc
  src/proto/common.proto
Due: bazel-buildifier, clang-format, clang-tidy

Add support for DBs without concurrent write support (e.g. lmdb).
  src/cohort/cohort_server.cc
  src/cohort/cohort_server.h
  src/cohort/cohort_server_test.cc
  src/db/database_transaction_adapter.h
  src/db/lmdb_database_transaction_adapter.h
Due: clang-format, clang-tidy

Add a quick end-to-end test for 2pc smart contract.
  src/blockchain/test/TestTwoPhaseCommit.js
  src/blockchain/test/TestTwoPhaseCommit.sol
Due: none

Add blockchain js client starter.
  .pre-commit-config.yaml
  README.md
  src/blockchain/client/README.md
  src/blockchain/client/client.js
  src/blockchain/client/demo.js
  src/blockchain/client/package-lock.json
  src/blockchain/client/package.json
  src/blockchain/package-lock.json
  src/blockchain/truffle-config.js
  src/blockchain/yarn.lock
Due: none

Add remaining imeplementations for TwoPhaseCommitClient js.
  src/blockchain/client/README.md
  src/blockchain/client/client.js
  src/blockchain/client/demo.js
  src/blockchain/client/main.js
  src/blockchain/client/package.json
  src/blockchain/client/server.js
  src/blockchain/contracts/TwoPhaseCommit.sol
  src/blockchain/migrations/2_deploy_contracts.js
  src/blockchain/truffle-config.js
Due: none

Start adding support for Bazel for blockchain adapter.
  WORKSPACE
  src/blockchain/BUILD
  src/blockchain/client/BUILD
  src/blockchain/client/main_client.sh
  src/blockchain/client/package.json
  src/blockchain/client/yarn.lock
  src/blockchain/contracts/BUILD
  src/blockchain/migrations/BUILD
Due: bazel-buildifier

Fix bad merge which cased test failed.
  src/blockchain/contracts/TwoPhaseCommit.sol
Due: none

Encode cohort votes into an uint256 to avoid dynamic allocation.
  src/blockchain/contracts/TwoPhaseCommit.sol
Due: none

Make blockchain local code work with Bazel.
  src/blockchain/BUILD
  src/blockchain/README.md
  src/blockchain/client/BUILD
  src/blockchain/client/README.md
  src/blockchain/client/main.js
  src/blockchain/deploy_ganache.sh
  src/blockchain/deploy_ganache_with_console.sh
Due: bazel-buildifier

Take account addr as part of args for .
  src/blockchain/client/main.js
Due: none

Serialize GetVotingDecision response for client to understand.
  src/blockchain/contracts/TwoPhaseCommit.sol
  src/blockchain/test/TestTwoPhaseCommit.sol
Due: none

Rename client.js to contract_client.js to avoid confusion.
  src/blockchain/client/BUILD
  src/blockchain/client/README.md
  src/blockchain/client/contract_client.js
  src/blockchain/client/main.js
  src/blockchain/client/main_client.sh
Due: bazel-buildifier

Format migrations js file.
  src/blockchain/migrations/1_initial_migration.js
Due: none

Add ganache account to bazel client main script.
  src/blockchain/client/main_client.sh
Due: none

Add blockchain adapter rpc service template.
  src/blockchain/README.md
  src/blockchain/client/README.md
  src/blockchain/client/adapter_client_demo.js
  src/blockchain/client/adapter_server.js
  src/blockchain/client/package-lock.json
  src/blockchain/client/package.json
  src/blockchain/client/server.js
  src/blockchain/client/yarn.lock
  src/blockchain/proto/BUILD
  src/blockchain/proto/two_phase_commit_adapter.proto
  src/blockchain/test/TestTwoPhaseCommit.js
Due: bazel-buildifier, clang-format, clang-tidy

Connect adapter service with contract client.
  src/blockchain/client/README.md
  src/blockchain/client/adapter_server.js
Due: none

Rename some main files as test files.
  src/blockchain/client/BUILD
  src/blockchain/client/README.md
  src/blockchain/client/adapter_client_test.js
  src/blockchain/client/contract_client_test.js
  src/blockchain/client/contract_client_test.sh
Due: bazel-buildifier

Rename adapter_client_test to adapter_server_test which is more accurate.
  src/blockchain/client/README.md
  src/blockchain/client/adapter_server_test.js
Due: none

Add startVoting implementation in adapter server.
  src/blockchain/client/adapter_server.js
  src/blockchain/client/adapter_server_test.js
  src/blockchain/proto/BUILD
  src/blockchain/proto/two_phase_commit_adapter.proto
Due: bazel-buildifier, clang-format, clang-tidy

Add vote implementation in adapter server (again).
  src/blockchain/client/README.md
  src/blockchain/client/adapter_server.js
  src/blockchain/client/adapter_server_test.js
  src/blockchain/proto/two_phase_commit_adapter.proto
Due: clang-format, clang-tidy

Add getVotingDecision implementation in adapter server.
  src/blockchain/client/adapter_server.js
  src/blockchain/client/adapter_server_test.js
  src/blockchain/proto/two_phase_commit_adapter.proto
Due: clang-format, clang-tidy

Add client for making RPCs to coordinator.
  src/client/BUILD
  src/client/client.cc
  src/client/client.h
  src/client/client_main.cc
  src/client/greeter_client.cc
  src/client/greeter_client.h
  src/client/greeter_client_main.cc
  src/cohort/cohort_server.cc
  src/coordinator/BUILD
  src/coordinator/coordinator_server.cc
  src/coordinator/coordinator_server.h
  src/coordinator/coordinator_server_main.cc
  src/coordinator/coordinator_server_test.cc
  src/db/lmdb_database_transaction_adapter.cc
  src/server/BUILD
  src/server/greeter_server.cc
  src/server/greeter_server.h
  src/server/greeter_server_main.cc
  src/server/greeter_server_test.cc
  src/utils/status_utils.cc
Due: bazel-buildifier, clang-format, clang-tidy

Add paper template (not sure how bazel works for this case as we might want the pdf file be tracked in git as well).
  paper/.gitignore
  paper/README.md
  paper/generate.sh
  paper/paper.pdf
  paper/paper.tex
  setup.sh
Due: none

Add framework for testing system end to end.
  src/client/BUILD
  src/client/client.cc
  src/client/client.proto
  src/client/client_main.cc
  src/client/requests/BUILD
  src/client/requests/single_namespace_random.textproto
  src/cohort/BUILD
  src/cohort/cohort_server.cc
  src/cohort/cohort_server.h
  src/cohort/cohort_server_main.cc
  src/cohort/start_cohort_server.cc
  src/cohort/start_cohort_server.h
  src/coordinator/BUILD
  src/coordinator/coordinator_server.cc
  src/coordinator/coordinator_server.h
  src/coordinator/coordinator_server_main.cc
  src/coordinator/coordinator_server_test.cc
  src/coordinator/start_coordinator_server.cc
  src/coordinator/start_coordinator_server.h
Due: bazel-buildifier, clang-format, clang-tidy

Integrate blockchain adapter with C++.
  src/blockchain/BUILD
  src/blockchain/proto/BUILD
  src/blockchain/two_phase_commit.cc
  src/blockchain/two_phase_commit.h
  src/blockchain/two_phase_commit_test.cc
  src/cohort/BUILD
  src/cohort/cohort_server.cc
  src/cohort/cohort_server.h
  src/cohort/cohort_server_main.cc
  src/cohort/cohort_server_test.cc
  src/cohort/start_cohort_with_blockchain_adapter_server.sh
  src/coordinator/BUILD
  src/coordinator/coordinator_server.cc
  src/coordinator/coordinator_server.h
  src/coordinator/coordinator_server_main.cc
  src/coordinator/coordinator_server_test.cc
  src/utils/status_utils.cc
  src/utils/status_utils.h
Due: bazel-buildifier, clang-format, clang-tidy

Add script to run blockchain adapter with cohort and coordinator
  WORKSPACE
  src/blockchain/BUILD
  src/blockchain/client/BUILD
  src/blockchain/client/adapter_server.js
  src/blockchain/client/run_adapter_server.sh
  src/blockchain/two_phase_commit.cc
  src/blockchain/two_phase_commit.h
  src/cohort/BUILD
  src/cohort/start_cohort_with_blockchain_adapter_server.sh
  src/coordinator/BUILD
  src/coordinator/start_coordinator_with_blockchain_adapter_server.sh
Due: bazel-buildifier, clang-format, clang-tidy

Add end to end script for testing client with 2 cohort transactions with the blockchain.
  .github/workflows/ci.yaml
  src/blockchain/BUILD
  src/blockchain/client/adapter_server.js
  src/blockchain/client/run_adapter_server.sh
  src/blockchain/contracts/BUILD
  src/blockchain/deploy_ganache.sh
  src/blockchain/deploy_ganache_with_console.sh
  src/blockchain/migrations/BUILD
  src/blockchain/two_phase_commit.h
  src/client/BUILD
  src/client/client.cc
  src/client/client.h
  src/client/client_main.cc
  src/client/end_to_end_test.sh
  src/client/requests/two_namespaces_simple.textproto
  src/cohort/BUILD
  src/cohort/cohort_server_main.cc
  src/cohort/start_cohort_with_blockchain_adapter_server.sh
  src/coordinator/BUILD
  src/coordinator/coordinator_server.cc
  src/coordinator/coordinator_server.h
  src/coordinator/coordinator_server_test.cc
  src/coordinator/start_coordinator_with_blockchain_adapter_server.sh
  src/proto/BUILD
  src/proto/greeter.proto
Due: bazel-buildifier, clang-format, clang-tidy

Add paper draft tex and pdf.
  paper/IEEEtran.cls
  paper/paper.pdf
  paper/paper.tex
  setup.sh
Due: none

Update the font to 12pt.
  paper/paper.pdf
  paper/paper.tex
Due: none

Update the font to 11pt.
  paper/paper.tex
Due: none

Update the font to 11pt and its pdf file.
  paper/paper.pdf
Due: none

draft except for reference
  paper/diagram.png
  paper/paper.pdf
  paper/paper.tex
Due: none

add references and adopt recent recommended changes from Benjamin
  paper/IEEEbib.bst
  paper/paper.pdf
  paper/references.bib
Due: none

Update paper.tex file with new edits from the doc.
  paper/paper.tex
Due: none

Update paper PDF
  paper/paper.pdf
Due: none

Update license to be LGPLv3
  LICENSE
Due: none

Remove my middle name from paper
  paper/paper.pdf
  paper/paper.tex
Due: none

Revised. Saved for backup.
  paper/paper.pdf
  paper/paper.tex
Due: none

Update draft (citation hasn't completed yet).
  paper/diagram.pdf
  paper/diagram.png
  paper/paper.pdf
  paper/paper.tex
  setup.sh
Due: none
