Repository benjmarks22/blockchain-2pc: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel-buildifier, clang-format, clang-tidy

bazel-buildifier:
  name: bazel buildifier
  description: Runs `buildifier`, requires buildifier binary
  entry: buildifier -mode diff -lint warn
  language: system

clang-format:
  name: clang format
  description: Runs `clang-format`, requires clang-format package
  entry: clang-format -style=google --dry-run -Werror
  language: system

clang-tidy:
  name: clang-tidy
  description: Runs `clang-tidy`, requires clang-tidy package
  ...

Add proto for cohorts
  src/proto/BUILD
  src/proto/cohort.proto
  src/proto/common.proto
  src/proto/coordinator.proto
Due: bazel-buildifier, clang-format, clang-tidy

Update cohort and coordinator protos
  src/proto/cohort.proto
  src/proto/common.proto
  src/proto/coordinator.proto
Due: clang-format, clang-tidy

Add support for relative put values and describe confirmations.
  src/proto/common.proto
Due: clang-format, clang-tidy

Change client transaction id to not be a message.
  src/proto/coordinator.proto
Due: clang-format, clang-tidy

Change initial value types to be int64 to simplify the initial design.
  src/proto/common.proto
Due: clang-format, clang-tidy

Update PrepareTransactionResponse to not include any statuses.
  src/proto/cohort.proto
Due: clang-format, clang-tidy

Add blockchain starter code.
  src/blockchain/.gitignore
  src/blockchain/README.md
  src/blockchain/contracts/Migrations.sol
  src/blockchain/contracts/TwoPhaseCommit.sol
  src/blockchain/migrations/1_initial_migration.js
  src/blockchain/migrations/2_deploy_contracts.js
  src/blockchain/test/TestTwoPhaseCommit.sol
  src/blockchain/truffle-config.js
Due: none

Support truffle compilation in Bazel
  WORKSPACE
  src/blockchain/BUILD
  src/blockchain/contracts/BUILD
  src/blockchain/contracts/TwoPhaseCommit.sol
  src/blockchain/migrations/BUILD
  src/blockchain/package.json
  src/blockchain/yarn.lock
Due: bazel-buildifier

Remove confirmation blocks from config. We can add it later if we need it.
  src/proto/common.proto
Due: clang-format, clang-tidy

Make truffle and ganache work with Bazel.
  src/blockchain/BUILD
  src/blockchain/README.md
  src/blockchain/compile.sh
  src/blockchain/deploy_ganache.sh
  src/blockchain/deploy_truffle.sh
  src/blockchain/package.json
  src/blockchain/run_tests.sh
  src/blockchain/setup_truffle.sh
  src/blockchain/test/BUILD
  src/blockchain/yarn.lock
Due: bazel-buildifier

Make actions run on all pull requests
  .github/workflows/ci.yaml
Due: none

Update setup.sh to run successfully for my case.
  setup.sh
Due: none

lmdb example and db interface
  WORKSPACE
  external/lmdb.BUILD
  external/lmdbxx.BUILD
  src/db/BUILD
  src/db/data_source.h
  src/db/lmdb_raw_lib_example_main.cc
Due: bazel-buildifier, clang-format, clang-tidy

move external BUILD files
  third_party/BUILD
  third_party/lmdb.BUILD
  third_party/lmdbxx.BUILD
Due: bazel-buildifier

move external BUILD files to a dedicated //third_party folder
  WORKSPACE
  external/lmdb.BUILD
  external/lmdbxx.BUILD
  src/db/data_source.h
  src/db/lmdb_raw_lib_example_main.cc
Due: bazel-buildifier, clang-format, clang-tidy

adopt clang-format suggestions
  WORKSPACE
  src/db/BUILD
  src/db/data_source.h
  src/db/lmdb_raw_lib_example_main.cc
Due: bazel-buildifier, clang-format, clang-tidy

Add initial implementation of cohorts.
  README.md
  WORKSPACE
  src/cohort/BUILD
  src/cohort/cohort_server.cc
  src/cohort/cohort_server.h
  src/cohort/cohort_server_main.cc
  src/cohort/cohort_server_test.cc
  src/server/BUILD
  src/utils/BUILD
  src/utils/grpc_utils.cc
  src/utils/grpc_utils.h
Due: bazel-buildifier, clang-format, clang-tidy

Add sqlite3 dep for blockchain.
  Dockerfile
  README.md
  setup.sh
  src/blockchain/package.json
  src/blockchain/yarn.lock
Due: none

Add blockchain function for the successful case.
  README.md
  setup.sh
  src/blockchain/.gitignore
  src/blockchain/contracts/Migrations.sol
  src/blockchain/contracts/TwoPhaseCommit.sol
  src/blockchain/package-lock.json
  src/blockchain/package.json
  src/blockchain/test/TestTwoPhaseCommit.sol
  src/blockchain/yarn.lock
Due: none

Fix std::bad_alloc in lmdb example.
  .clang-tidy
  src/db/lmdb_raw_lib_example_main.cc
Due: clang-format, clang-tidy

Resolve comments.
  .pre-commit-config.yaml
  README.md
  src/blockchain/contracts/TwoPhaseCommit.sol
Due: none

Update README.md for running prettier.
  README.md
Due: none

Add blockchain two phase commit prototype.
  .clang-tidy
  src/blockchain/BUILD
  src/blockchain/two_phase_commit.cc
  src/blockchain/two_phase_commit.h
  src/blockchain/two_phase_commit_test.cc
Due: bazel-buildifier, clang-format, clang-tidy

Use a thread pool to handle requests in the cohort.
  .clang-tidy
  WORKSPACE
  src/cohort/BUILD
  src/cohort/cohort_server.cc
  src/cohort/cohort_server.h
  src/cohort/cohort_server_main.cc
  src/cohort/cohort_server_test.cc
Due: bazel-buildifier, clang-format, clang-tidy

Update CI bazel cache to include yarn.lock in the key.
  .github/workflows/ci.yaml
Due: none

Purge bazel cache for CI.
  .github/workflows/ci.yaml
Due: none

Add lmdb example and db interface (#6)
  .clang-tidy
  WORKSPACE
  src/db/BUILD
  src/db/data_source.h
  src/db/lmdb_raw_lib_example_main.cc
  third_party/BUILD
  third_party/lmdb.BUILD
  third_party/lmdbxx.BUILD
Due: bazel-buildifier, clang-format, clang-tidy

add LMDB database interface's implementation
  src/db/BUILD
  src/db/data_source.h
  src/db/lmdb_data_source.cc
  src/db/lmdb_data_source.h
  src/db/lmdb_data_source_test.cc
Due: bazel-buildifier, clang-format, clang-tidy

sync to head version
  src/db/lmdb_raw_lib_example_main.cc
Due: clang-format, clang-tidy

Use unique_ptr.reset instead of release
  src/db/lmdb_data_source.cc
Due: clang-format, clang-tidy

increase test shard to see if it helps test timeout problem
  src/db/BUILD
Due: bazel-buildifier

test concurrent commit behavior when there is key conflict
  src/db/BUILD
  src/db/database_transaction_adapter.h
  src/db/lmdb_data_source_test.cc
  src/db/lmdb_database_transaction_adapter.cc
  src/db/lmdb_database_transaction_adapter.h
  src/db/lmdb_database_transaction_adapter_test.cc
  src/db/lmdb_raw_lib_example_main.cc
Due: bazel-buildifier, clang-format, clang-tidy

log to debug timeout
  src/db/lmdb_database_transaction_adapter_test.cc
Due: clang-format, clang-tidy

log to debug timeout
  WORKSPACE
  src/db/BUILD
  src/db/lmdb_database_transaction_adapter_test.cc
Due: bazel-buildifier, clang-format, clang-tidy

log to debug timeout3
  src/db/lmdb_database_transaction_adapter_test.cc
Due: clang-format, clang-tidy

introduce readonly txn
  src/db/database_transaction_adapter.h
  src/db/lmdb_database_transaction_adapter.cc
  src/db/lmdb_database_transaction_adapter.h
  src/db/lmdb_database_transaction_adapter_test.cc
  src/db/lmdb_raw_lib_example_main.cc
Due: clang-format, clang-tidy

Implement two phase commit contract to support abort/pending.
  src/blockchain/contracts/TwoPhaseCommit.sol
  src/blockchain/test/TestTwoPhaseCommit.sol
Due: none

Add implementation of coordinator
  .clang-tidy
  WORKSPACE
  src/blockchain/BUILD
  src/coordinator/BUILD
  src/coordinator/coordinator_server.cc
  src/coordinator/coordinator_server.h
  src/coordinator/coordinator_server_main.cc
  src/coordinator/coordinator_server_test.cc
  src/db/lmdb_raw_lib_example_main.cc
  src/proto/BUILD
  src/proto/cohort.proto
  src/proto/common.proto
  src/proto/coordinator.proto
  src/utils/BUILD
  src/utils/grpc_utils.cc
  src/utils/grpc_utils.h
Due: bazel-buildifier, clang-format, clang-tidy

Implement cohort that talks to database and blockchain
  src/cohort/BUILD
  src/cohort/cohort_server.cc
  src/cohort/cohort_server.h
  src/cohort/cohort_server_main.cc
  src/cohort/cohort_server_test.cc
  src/coordinator/BUILD
  src/coordinator/coordinator_server.cc
  src/db/BUILD
  src/utils/BUILD
  src/utils/grpc_utils.h
  src/utils/status_utils.cc
  src/utils/status_utils.h
Due: bazel-buildifier, clang-format, clang-tidy

Path conditions:
  bazel-buildifier: any of: (^(.*/)?(BUILD\.bazel|BUILD)$|\.BUILD$)|(^WORKSPACE$)
  clang-format: any of: \.h$|\.cc$|\.proto$
  clang-tidy: any of: \.h$|\.cc$|\.proto$
